@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  background-color: #23424A;
  padding: 100px 0px;
}

.info-container{
  color: #fff;
  max-width: 35%;
  margin-inline-start: 150px;
}

.info-container h1{
  font-weight: 900;
  font-size: 48px;
  padding: 0;
  margin: 0;
}

.info-container p{
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  margin-block-end: 50px;
  color: #c5cccce8;
}

.info-container button{
  background-color: #38CFD9;
  color: #23424A;
  font-weight: 700;
  font-size: 21px;;
  padding: 1rem 2.5rem;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
}